:root {
    --sbwidth: 130px;
}

body {
    background-color: #e6e6fa;
    /*
    margin-right: 850px;
    */
    /*
    max-width: 600px;
    background-image: url("images/selfie_longhair.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 10%;
    */
}

h1 {
    color: black;
}

.biography {
    width: 40em;
}

img.bio-image {
    border-radius: 10%;
    max-width: 200px;
}

/*
ul.navigation-bar {
    width: var(--sbwidth);
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #c0c0c0;
    overflow-x: hidden;
    padding 8px 0;
}
*/

ul.navigation-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*display: inline-block;*/
}

.navigation-bar {
    float: right;
}

.navigation-list li {
    float: left;
}

ul.navigation-list a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navigation-list a:hover {
    color: #c0c0c0;
}
/*
ul.navigation-bar li {
  padding: 6px 8px 6px 0px;
  text-decoration: none;
  font-size: 20px;
  color: #2196F3;
  display: block;
}
*/

.services p {
    width: 40em;
}

.main {
    /*
    margin-left: calc(20px + var(--sbwidth));
    */
}
